@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-y-1">
    <div class="row">
        <div class="col-md-12">
            <list-items>Listelasting...</list-items>
        </div>
    </div>
</div>
